body {font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://static.vecteezy.com/system/resources/previews/008/131/826/non_2x/abstract-3d-light-brown-background-with-gold-lines-curved-wavy-sparkle-with-copy-space-for-text-luxury-style-template-design-free-vector.jpg);
    background-size:fill;
    font-size: 18px;
    }

    #container{
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        text-align:center;
        width: 500px;
        height: 200px;
        box-shadow: 0 0 10px 1px #ffc800,  
        0 0 80px 5px rgb(255, 255, 255), 
        0 0 80px 5px rgb(255, 255, 255);
        border-radius: 7000px;
        padding: 100px;
        background-color:#ddbeb0;
    }

    #forgotpswimg{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }